<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>特工</title>
    <link rel="stylesheet" href="./weui.css"/>
    <link rel="stylesheet" href="./example.css"/>
</head>
<body ontouchstart>
    <div class="container" id="container"></div>

<script type="text/html" id="tpl_home">
<div class="bd">
    <% for (var i = 0; i < agents.length; i++) { var agent = agents[i]; %>
    <div class="weui_cells_title"><%= agent.name %></div>
    <div class="weui_cells">
    <% console.log(agents, agent) %>
        <% for (var si = 0; si < agent.status.length; si++) { var status = agent.status[si]; %>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= status.name %></p>
            </div>
            <% if (status.linkType == '灯') { %>
            <div class="weui_cell_ft">
                <input class="weui_switch J_status_checkbox" data-agent="<%= agent.ip %>" data-link="<%= status.link %>" data-type="<%= status.linkType %>" type="checkbox" <% if (status.value) { %>checked<% } %>/>
            </div>
            <% } else if (status.linkType == '温度') { %>
            <div class="weui_cell_ft"><% if (status.value) { %><%= status.value %>摄氏度<% } else { %><% } %></div>
            <% } else { %>
            <div class="weui_cell_ft"><%= status.value %></div>
            <% } %>
        </div>
        <% } %>
    </div>
    <% } %>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="#/status/add">新增状态</a>
    </div>
</div>
    <div class="weui_tabbar">
        <a href="#/" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="https://weui.github.io/weui/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">状态</p>
        </a>
        <a href="#/agent" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="https://weui.github.io/weui/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">特工</p>
        </a>
    </div>
</script>

<script type="text/html" id="tpl_status_add">
<div class="hd">
    <h1 class="page_title">添加状态</h1>
</div>
<div class="bd">
    <form class="">
    <div class="weui_cells_title">选择</div>
    <div class="weui_cells">
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="agent" class="weui_label">特工</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="agent">
    <% for (var i = 0; i < agents.length; i++) { var agent = agents[i]; %>
                    <option value="<%= agent.ip %>"><%= agent.name %></option>
    <% } %>
                </select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="link" class="weui_label">连接口</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="link">
    <% for (var i = 0; i < links.length; i++) { var link = links[i]; %>
                    <option value="<%= link.name %>"><%= link.name %></option>
    <% } %>
                </select>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">输入</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="name" class="weui_label">命名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="name" placeholder="隔壁老王"/>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="linkType" class="weui_label">类型</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="linkType">
    <% for (var i = 0; i < linkTypes.length; i++) { var linkType = linkTypes[i]; %>
                    <option value="<%= linkType.name %>"><%= linkType.name %></option>
    <% } %>
                </select>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary J_submit" href="javascript:;">提交</a>
        <a href="#/" class="weui_btn weui_btn_default">取消</a>
    </div>
    </form>
</div>
</script>

<script type="text/html" id="tpl_agent">
<div class="hd">
    <h1 class="page_title">特工</h1>
</div>
<div class="bd">
    <div class="weui_cells">

    <% for (var i = 0; i < agents.length; i++) { var agent = agents[i]; %>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= agent.name %></p>
            </div>
            <div class="weui_cell_ft"><%= agent.ip %></div>
        </div>
    <% } %>

    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="#/agent/add">新增</a>
    </div>
</div>
    <div class="weui_tabbar">
        <a href="#/" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="https://weui.github.io/weui/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">状态</p>
        </a>
        <a href="#/agent" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="https://weui.github.io/weui/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">特工</p>
        </a>
    </div>
</script>

<script type="text/html" id="tpl_agent_add">
<div class="hd">
    <h1 class="page_title">添加特工</h1>
</div>
<div class="bd">
    <form class="">
    <div class="weui_cells_title">选择</div>
    <div class="weui_cells">
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="agent" class="weui_label">特工点</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="agent">
    <% for (var i = 0; i < agents.length; i++) { var agent = agents[i]; %>
                    <option value="<%= agent.ip %>"><%= agent.ip %></option>
    <% } %>
                </select>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">输入</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">命名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="name" placeholder="隔壁老王"/>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary J_submit" href="javascript:;">提交</a>
        <a href="#/agent" class="weui_btn weui_btn_default">取消</a>
    </div>
    </form>
</div>
</script>

    <script src="socket.io/socket.io.js"></script>
    <script src="./underscore-min.js"></script>
    <script src="./zepto.min.js"></script>
    <script src="./router.min.js"></script>
    <script src="./example.js"></script>

</body>
</html>
